body {
    box-sizing: border-box;
}
.content * {
    border: solid 1px black;
}
.buttons-container * {
    border: none;
}
.content {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    border: solid 1px black;
    width: 100%;
    max-width: 350px;
    height: 500px;
    flex-direction: column;
    flex: 0 0 auto
}

.display-container {
    flex: 1 1 auto;
    flex-direction: column;
}
.buttons-container {
    display: flex;
    flex: 5 1 auto;
    flex-wrap: wrap;
    padding: 5%;
    flex-direction: column;   
    background-color: rgb(30, 30, 30);
}
.btn-column {
 display: flex;
 flex: 1 0 auto;
}
.btn {
    display: flex;
    color: white;
    background-color: rgb(75, 75, 75);
    /* border-radius: 4px; */
    font-size: 20px;
    flex: 1 0 0;
    /* margin: 1%; */
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    background-color: gray;
}
.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    flex: 0 1 0;
}

.display-container * {
    display: flex;
    height: 50px;
    flex: 0 1 auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 25px;
}

